@model List<CRUD_MVCEF.UI.Models.ViewModels.PersonaViewModel>
@{
    ViewBag.Title = " Mis datos Persona";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Fecha Nacimiento</th>
            </tr>

        </table>



    </div>



</div>
